[submodule "quickstart/themes/massively"]
	path = quickstart/themes/massively
	url = https://github.com/curtistimson/hugo-theme-massively.git
[submodule "docs"]
	path = docs
	url = https://github.com/Shiny-Robot-Brewery/shinyrobotbrewery.github.io.git
